<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<form method="post" th:object="${form}" action="/workHours/add">

    <div class="form-group">
        <label th:for="employeeId">Employee</label>
        <select name="employeeId">
            <option th:each="employee : *{employees}"
                    th:text="${employee.name}"
                    th:value="${employee.id}"></option>

        </select>
    </div>
    <input type="datetime-local" name="clockIn"/>
    <input type="datetime-local" name="clockOut"/>

    <input type="submit" value="Log Time"/>
</form>

</body>
</html>